EksiChallenge/.vs/
EksiChallenge/EksiChallenge.Web/bin/
EksiChallenge/EksiChallenge.Web/obj/
EksiChallenge/EksiChallenge.Common/obj/
EksiChallenge/EksiChallenge.Core/obj/
EksiChallenge/EksiChallenge.Services/obj/
EksiChallenge/packages/
EksiChallenge/EksiChallenge.Common/bin/
EksiChallenge/EksiChallenge.Core/bin/
EksiChallenge/EksiChallenge.Services/bin/
